@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #2c3e50;
  --secondary-color: #591CBA;
  --accent-color: #27ae60;
  --background: rgba(74, 39, 201, 0.1);
  --disabled: rgb(146, 146, 146);
  --text-color: #2c3e50;
  --border: 1px solid #bdc3c7;
}
/* *{
  border: 1px solid red !important;
} */
@font-face {
  font-family: "poppins";
  src: url("/static/Poppins-Regular.otf") format("opentype");
}

html {
  font-family: "poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
