.parentSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.sectionLeft {
  padding: 30px;
}
.heading {
  color: #141f39;
  font-size: xx-large;
  font-weight: 800;
}
.popularHeading {
  color: #141f39;
  font-weight: 800;
  font-size: x-large;
  margin-top: 30px;
  text-align: center;
}
.featureSection {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 200px;
}
.featureSectionTop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.featureSectionBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.getStarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}
.mobileHomeWrapper
{
  display: none;
}
@media screen and (max-width: 480px) {
  .parentSection,
  .popularHeading,
  .getStarted,
  .featureSection {
    display: none;
  }
  .mobileHomeWrapper
  {
    display: block;
  }
}
