.hero-images {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items based on the top alignment by default */
  /* gap: 10px; */
  position: relative; /* Allows for positioning adjustments of children */
}

.card-1 {
  margin-left: -50px;
  margin-top: -50px; /* Adjust this value to control how much it hovers */
  z-index: 1; /* Ensures it stays on top */
}

.card-2 {
  margin-left: auto; /* Pushes it to the right */
  margin-top: 10px; /* Adjust vertical alignment relative to the Data Analysis image */
}
.hero-section {
  margin-left: 10px;
}
.descriptions {
  font-size: 12px;
}
.main-heading {
  color: #141f39;
  font-size: xx-large;
  font-weight: bolder;
}
.getStarted {
  text-align: center;
}
.getStarted button {
  width: 80%;
  font-size: 12px;
}
.tick-list {
  margin-left: 10px;
  margin-top: 2rem;
}
.tick-list li {
  font-size: 12px;
}
.descriptions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.check-icon{
    /* color: linear-gradient(180deg, #591cba, #4830e2); */
    color: #591cba;

}