:root {
    --primary-color: #5a3ec8;
    --hover-color: #482ea9;
    --text-color: #333;
    --secondary-text-color: #666;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .main-content {
    margin-left: 240px; /* Default for desktop, overridden for mobile */
    padding: 20px;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    background-color:rgb(246, 250, 250);
    /* position: relative; */
  }

  .create-present{
    padding:20px;
    width: 67em;
    height: 210px;
    background-image:linear-gradient(rgba(89, 28, 186, 0.712),rgba(72, 48, 226, 0.712)),url("/present.png");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .main-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    
  }
  .btn-present{
   background-color: white;
   color:var(--primary-color);
   font-size: 20px;
   font-weight: bold;
   width: 35%;
   height: 24%;
   border-radius: 10px;
  }

  .text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    
  }
/* .tem-scroll{
display: flex;
flex-direction: row;
overflow-x: scroll;
flex:0;
flex-basis: auto;
justify-content: space-evenly;
scroll-snap-type: x mandatory;

}
.temp{
    border: 2px solid black;
    width: 360px;
    height: 160px;
    background-image: url("/temp.png");
    margin-left: 20px;
    margin-right: 20px;

} */

.tem-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox, optional */
    -webkit-overflow-scrolling: touch;
  }
  
  .temp {
    flex: 0 0 auto; /* Prevent shrinking */
    width: 320px;
    height: 160px;
    background-image: url("/temp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -24px -9px;
    padding: 0px;
    margin: 0px 10px;
    scroll-snap-align: start;
  }
  .template{
    margin-top: 50px;
  }
.save {
    margin-top: 50px;
}
.temps{
    flex: 0 0 auto; /* Prevent shrinking */
    width: 320px;
    height: 160px;
    padding: 0px;
    margin: 0px 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}